/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 18, 2022, 12:43:05 AM
    Author     : Dell
*/

body h1{
    text-align: center;
}
form{
    margin: 50px 500px;

}
